%h1 Package Options
%h2 h2 Lessons Rules
%p Session Packages must be scheduled at least 24 hours in advance. If you buy a package you will be able to schedule your sessions after purchases.
%ul
  %li 5 Sessions ( 60 min )
  %li 8 Sessions ( 60 min )