%br
%br
%ul.nav.nav-pills
  %li.active= link_to t('view_clients.settings.tabs.general_information'), '#general_information', data: {toggle: :tab}
  %li= link_to t('view_clients.settings.tabs.contact_information'), '#contact_information', data: {toggle: :tab}
  %li= link_to t('view_clients.settings.tabs.positions'), '#work_history', data: {toggle: :tab}
  %li= link_to t('view_clients.settings.tabs.billing'), '#billing', data: {toggle: :tab}