!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "CONTENT-TYPE"}/
    %title Terms

    %link{:href => "https://fonts.googleapis.com/css?family=Poppins:400,600,700,800", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}/


    :css
      @page { size: 8.5in 11in; margin-left: 1in; margin-right: 1in; margin-top: 1in; margin-bottom: 0.5in }
      P { margin-bottom: 0in; direction: ltr; text-align: center; widows: 2; orphans: 2 }
      P.western { font-weight: bold }
      P.cjk { so-language: en-US; font-weight: bold }
      P.ctl { font-weight: bold }
      A:link { color: #0000ff; so-language: zxx }
    :css
      body {
        padding: 50px 15px;
        width: 1000px;
        margin: 0px auto;
        font-family: 'Poppins', sans-serif;
      }
      p {
        text-align: left;
        font-family: 'Open Sans', sans-serif;

      }
      p.western {
        color:#666;
        text-align: left;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        margin-top: 15px;
      }
      p.mt-5 {
        color:#666;
        text-align: left;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
        margin-top: 5px;
      }
      b {
        font-weight: bold;
        color: #222;
      }
      b.red {
        color: red;
      }
      div.main-heading {
        margin-top: 50px;
      }
      p.heading {
        font-weight: bold;
        color: #222;
        text-transform: uppercase;
        font-size: 20px;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        margin-top: 25px;
      }
      ol {
        padding-left: 0px;
        list-style: none;
        counter-reset: item;
      }
      ol li {
        text-align: left;
        margin-top: 15px;
        font-family: 'Open Sans', sans-serif;
      }
      li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
        margin-right: 15px;
      }
      li.none:before {
        / display: none;
        opacity: 0;
      }
      ul.sub {
        list-style: lower-alpha;
      }
      ul.sub li {
        padding-left: 5px;
        margin-top: 5px;
        color: #999;
      }
      ul.sub li:before {
        display: none;
      }
      span.right{
        float:right;
      }
      p.western button {
        float: right;
        width: 1.1in;
        margin: 25px 0px;
        border: 1px solid #000000;
        padding: 0.05in 0.1in;
        background: #d9e2f3";
      }
      b.head-2 {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
      }
      p.western span.small-head {
        font-weight: 600;
        color: blue;
      }
      @media screen and (max-width: 767px) {
        body {
          width: 100%;
        }
      }


  %body
    %div.main-heading
      %p.western
        %b Privacy Notice
    %p
      %font{:size => "1", :style => "font-size: 8pt"}
        (Last updated: 2018-11-12)
    %p.western
      If you are not reading this notice online at ●, you should check there for the latest version of MWP’s privacy notice. [NTD: Insert URL.]
    %p.western
      This privacy notice is for your information. It sets out how Minds With Purpose (“MWP”) collects and uses personal information in connection with the services provided through www.mindswithpurpose.com (respectively, the “Services” and the “Site”). This privacy notice also asks you to consent to the use of your personal information in accordance with its terms. This privacy notice applies to “Experts” who offer services through the Site, “Minds” who purchase services from Experts and Site visitors.
    %p.western
      By using the Site, you consent to the collection and processing of your personal information in accordance with the terms of this notice. By applying to be an Expert or registering to be a Mind, you reaffirm that consent. If you wish to revoke your consent you may do so by: (i) sending notice of the revocation to privacy@mindswithpurpose.com and following the instructions provided at ●; and (ii) stopping all use of the Site and Services.
    %p.western
      When consent is withdrawn, MWP will apply your preferences going forward within a reasonable amount of time. Please note, when consent is withdrawn it may not be possible to use all the functions of the Site. For example, once consent is withdrawn, it is not possible to purchase service packages or to provide your services as an Expert.
    %p.western
      %b.head-2
        Cookies
    %p.western
      Certain features of the Site use cookies to operate. Cookies are small text files stored on a computing device when the device is used to visit any website that uses cookies. The Site uses cookies. Visitors to the Site may configure the browser they use to prevent the storage of cookies by MWP, but without the use of cookies it may not be possible to use all the functions of the Site.
    %p.western
      %b.head-2
        Beacons
    %p.western A web beacon is a small image file (often no more than a single pixel by a single pixel) used for tracking purposes. Web beacons are used by the Site to ●. They are used to better understand how the Site is being used in order to improve upon the Site.
    %p.western
      %b.head-2
        Analytics
    %p.western MWP may use web analysis service providers to: (i) analyse how visitors use the Site; (ii) evaluate how the Site is used; (iii) compile statistics on website activities; (iv) conduct market research; and (v) further develop the Site. These service providers may use cookies, web beacons and other technologies to use analyse how visitors use the Site. MWP maintains a list of the web analysis service providers in use. The list is available on the Site.
    %p.western MWP is using Google Analytics, a web analysis service provided by Google Inc. (“Google”). This service collects information similar to the information that MWP collects from visitors to the Site (as described in more detail in the next section of this notice). The information requested by Google is transmitted to its servers in the United States and possibly elsewhere. To prevent this collection, an opt-out cookie is required. The opt-out cookie is available from Google. (Click here to opt-out: https://tools.google.com/dlpage/gaoptout).
    %p.western
      %b.head-2 Personal information – what is collected and how MWP uses it
    %p.mt-5 General purposes (applicable to all personal information collected) – In addition to any more specific uses noted in this notice, MWP uses the personal information that it collects to: (i) operate the Site; (ii) provide the Services (including communicating with Experts and Minds about the Site Services); (iii) maintain system security for the Site; (iv) improve upon the Site and Services; (v) respond to inquiries from visitors, Experts and Minds; and (vi) to establish, exercise or defend its legal rights.
    %p.western
      %span.small-head Visitors to the Site –
      From the browser used by an individual visiting the Site, MWP requests the following information: (i) type of browser and version; (ii) type of device used to access the Site and its operating system; (iii) IP address of the device and location from which the Site issued being accessed; and (iv) date, time and duration of access.
    %p.western
      %span.small-head Becoming a Mind –
      Contact information (name, email address, address and phone number) is collected by MWP when an individual registers as a Mind.
    %p.western
      %span.small-head Applying to be an Expert –
      Contact information (name, email address, address and phone number) is collected by MWP when an individual applies to be an Expert.
    %p.western MWP also collects information regarding the prospective Expert’s education and experience (the prospective Expert’s “CV”). This information is used by MWP to evaluate the prospective Expert’s application. If the application is successful, the information will form part of the new Expert’s profile.
    %p.western When an individual becomes an Expert, MWP will collect banking/payment information (the Expert’s “Account Information”). The Account Information is used when a Expert withdraws amounts earned from his or her account with MWP.
    %p.western
      %span.small-head Expert and Mind profiles –
      Experts and Minds may create profiles for use with the Site and Services. Part of each Expert’s profile is made public to make the Expert known to Mentees. An Expert may choose to include additional personal information in his or her public profile, by doing so, the Expert consents to the display of that information as part of that public profile.
    %p.western
      %span.small-head Purchasing sessions –
      When a Mind purchases one or more sessions with an Expert, payment information is collected by the payment processor used by MWP. The processor may change from time to time, but the processor will be identified on any page that asks a Mind to enter payment information. MWP will collect transaction information (other than payment information) including: (i) type of session(s) purchased; (ii) number of sessions purchased; and (iii) the Expert whose advice is being sought.
    %p.western
      %span.small-head Participating in sessions –
      In relation to each session between an Expert and Mind, MWP records the date, start time, duration and participants. Also, when an Expert and a Mind participate in a session via the Site, MWP makes tools available to: (i) capture and share notes; (ii) share documents; and (iii) ●. This information is stored by MWP, and MWP will make it available to the Expert or Mind who enters it and, if that Expert or Mind shares the information, the person with whom it is shared.
    %p.western
      %span.small-head Donations –
      An Expert may opt to donate all or a portion of his or her earnings for a month to a not-for-profit organization. If an Expert does so, MWP uses the Expert’s Contact information and collects any additional information required to make the donation in the Expert’s name. MWP provides the information to the not-for-profit organization. MWP is not responsible for the not-for-profit organization’s use of the information. That is governed by the not-for-profit organization’s own privacy policy.
    %p.western Authentication using credentials provided by a third party (for example, LinkedIn) – When an Expert or Mind chooses to use credentials issued by a third party to login to the Site, information required for authentication will be exchanged. MWP will not request more information from the third party than is required for authentication unless the Expert or Mind expressly consents.
    %p.western
      %span.small-head Other collections –
      The Site may include other requests for individuals to volunteer their personal information. For example, MWP may administer surveys through the Site. When MWP creates an opportunity for individuals to volunteer their information through the Site, MWP will disclose the purposes for which the personal information is being collected and seek an express consent to use the personal information collected for such purposes.
    %p.western
      %b.head-2
        Sharing personal information
    %p.western
      %span.small-head Employees –
      MWP may share personal information which it has collected with its employees who need to use that information in connection with one or more of the purposes for which that personal information was collected.
    %p.western
      %span.small-head Service providers –
      From time to time, MWP may engage service providers to provide certain limited services such as hosting the Site or processing financial transactions. MWP will only provide those service providers with the personal information they need to deliver the service for which they were retained. MWP will also require those companies, through contractual means, to safeguard such information, maintain its confidentiality and not to use that information for any purpose other than providing the services for which they were retained. A list of the service providers and their locations is available at: ●. [NTD: (1) Insert URL.]
    %p.western
      %b Please note:
      For the Site and the related data, MWP uses a cloud-based hosting service that relies on servers located around the world. Your personal information may be stored and processed using any of those servers in any of those locations. Those jurisdictions may not have the same data protection laws as the country in which you reside.
    %p.western
      %span.small-head Required by law –
      MWP may access and/or disclose any personal information which it has collected if required or permitted to do so by law (for example, to comply with a legal requirement including but not limited to one imposed by a warrant, subpoena, court order or like instrument served on MWP or in urgent circumstances to protect the life, health or security of any person).
    %p.western
      %span.small-head Assignment –
      Please be aware that MWP may disclose your Personal Information to its successor or any assignee of its assets relating to the Site and/or Services.
    %p.western
      %span.small-head Other Third Parties –
      Before disclosing personal information relating to an individual to a third party other than as set out in this Privacy Statement, MWP will obtain the affected individual’s consent to the disclosure.
    %p.western
      %b.head-2
        Security
    %p.western MWP is committed to ensuring that your personal data is secure. In order to prevent unauthorized access or disclosure, MWP has put in place physical, technical and organisational measures to safeguard and secure the personal information that it holds. For example, MWP uses encryption to safeguard certain types of personal information when they are being transmitted over the Internet. However, no data transmission over the internet can be guaranteed to be completely secure. Consequently, MWP expressly disclaims all representations, warranties and conditions (whether express or implied) that any information transmitted to or by MWP over the Internet will be completely secure.
    %p.western For a more detailed description of the security measures used by MWP, see: ●. [NTD: Insert URL.]
    %p.western
      %b.head-2
        Aggregated data
    %p.western MWP may aggregate and depersonalize any information about Site visitors, Experts or Minds provided to MWP. Aggregated and depersonalized information is to improve upon the service provided by the Site. For example, the search queries of Minds searching for Experts are aggregated and this information is used to identify areas of expertise where more experts may be necessary.
    %p.western
      %b.head-2
        Changes
    %p.western If there are any changes to this notice, MWP will post the changes to the Site at least 30 days in advance of when they become effective. MWP may notify Experts and Minds of changes to this notice by email sent to the email address included in the Expert’s or Mind’s contact information or by a notice that appears on log-in to the Site, but MWP is not required to do so. [NTD: (1) Notice on log-in is a good idea when a revised notice is posted. (2) If a change to the notice is significant, it is a good idea to provide notice by email.]
    %p.western
      %b.head-2
        Enforcement
    %p.western When MWP receives a written complaint regarding its use of personal information, MWP complies with any relevant authorities investigating the potential misuse, in addition to conducting its own investigation.
    %p.western To file a compliant regarding MWP’s use of personal information, send an email setting out the your complaint to: privacyofficer@mindswithpurpose.com.
    %p.western
      %b.head-2
        Review
    %p.western MWP reviews this notice at least once every 12 months.
    %p.western
      %b.head-2
        Questions and access to personal information requests
    %p.western Subject to applicable law, any visitor to the Site, Expert and Mind may request access to and receive details about the personal information MWP maintains about him or her, update and correct inaccuracies in that personal information, and have the information blocked or deleted, as appropriate. The right to access personal information may be limited in some circumstances by local law requirements. MWP will take reasonable steps to verify identity before granting access or making corrections. To exercise any of these rights or to ask questions regarding this notice, contact MWP’s Privacy Officer:
    %br/
    %br/
    Privacy Officer
    %br/
    Minds With Purpose
    %br/
    439 University Avenue, 5th floor
    %br/
    Toronto, Canada, M5G 1Y8
    %br/
    %br/
    +1(416)619-1277
    %br/
    privacyofficer@mindswithpurpose.com


