//COLORES
$white-color: #FFFFFF;//White
$black-color: #000000;//Black
$base-color: #3E3E3E;//Theme base gray color
$main-green-color: #92b857;//Theme green color
$main-blue-color: #2e468f;//Theme blue color
$light-blue-color: #19488D;//Ligh blue Color. Example 'Ver Video title'
$light-gray-color: #e6e7ea;//For search box background
$dark-gray-color: #959595;//For search box text
$text-blue-color: #7991bc;//For large plain text
$text-field-font-color: #484848;//For text field placeholder and headers
$text-field-boder-color:#d4d4d4;//For text field borders
$facebook-color: #466295;//Facebook color\
$form-icons: #00ab9f;//For the icons on the forms
$share-text: #585858;//For social networks share text
$success-color: #d9edf7;//Botstrap notice message boder brack ground color
$success-color-text: #84aec2;//Botstrap notice message text color
$success-color-border: #bce8f1;//Botstrap notice message boder color
$danger-color: #f2dede;//Botstrap danger message brack ground color
$danger-color-text: #cd908e;//Botstrap danger message text color
$danger-color-border: #e3bfbf;//Botstrap danger message border color
//BORDERS
$mobile-border-menu: 2px 2px 2px #e0e0e0;
$text-field-border: 3px 3px 3px #000000;
$video-border: 5px 5px 5px #3E3E3E;
$titles-border: 2px 2px #3E3E3E;
$mobile-ul-separator: #bbccd2 solid 1px;
$main-green-border:  #92b857 solid 1px;
$main-blue-border:  #2e468f solid 1px;
$base-border: #3E3E3E solid 1px;
$light-gray-border: #e0e0e0  solid 1px;
//TEST BORDERS COLORES
$test-border-yellow: yellow solid 1px;
$test-border-black: black solid 1px;
$test-border-green: green solid 1px;
$test-border-red: red solid 1px;
$test-border-blue: blue solid 1px;
$test-border-pink: pink solid 1px;
$test-border-purple: purple solid 1px;
$test-border-brown: brown solid 1px;

$red: #FF0000;
$blue: #2F44E1;
$green: #127e19;
$white: #FFFFFF;
