!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "CONTENT-TYPE"}/
    %title Terms

    %link{:href => "https://fonts.googleapis.com/css?family=Poppins:400,600,700,800", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}/


    :css
      @page { size: 8.5in 11in; margin-left: 1in; margin-right: 1in; margin-top: 1in; margin-bottom: 0.5in }
      P { margin-bottom: 0in; direction: ltr; text-align: center; widows: 2; orphans: 2 }
      P.western { font-weight: bold }
      P.cjk { so-language: en-US; font-weight: bold }
      P.ctl { font-weight: bold }
      A:link { color: #0000ff; so-language: zxx }
    :css
      body {
        padding: 50px 15px;
        width: 1000px;
        margin: 0px auto;
        font-family: 'Poppins', sans-serif;
      }
      p {
        text-align: left;
        font-family: 'Open Sans', sans-serif;

      }
      p.western {
        color:#666;
        text-align: left;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
      }
      b {
        font-weight: bold;
        color: #222;
      }
      b.red {
        color: red;
      }
      div.main-heading {
        margin-top: 50px;
      }
      p.heading {
        font-weight: bold;
        color: #222;
        text-transform: uppercase;
        font-size: 20px;
        text-align: left;
        font-family: 'Poppins', sans-serif;
      }
      ol {
        padding-left: 0px;
        list-style: none;
        counter-reset: item;
      }
      ol li {
        text-align: left;
        margin-top: 15px;
        font-family: 'Open Sans', sans-serif;
      }
      li:before {
        content: counters(item, ".") " ";
        counter-increment: item;
        margin-right: 15px;
      }
      li.none:before {
        / display: none;
        opacity: 0;
      }
      ul.sub {
        list-style: lower-alpha;
      }
      ul.sub li {
        padding-left: 5px;
        margin-top: 5px;
        color: #999;
      }
      ul.sub li:before {
        display: none;
      }
      span.right{
        float:right;
      }
      p.western button {
        float: right;
        width: 1.1in;
        margin: 25px 0px;
        border: 1px solid #000000;
        padding: 0.05in 0.1in;
        background: #d9e2f3";
      }
      @media screen and (max-width: 767px) {
        body {
          width: 100%;
        }
      }


  %body
    %div.main-heading
      %p.western
        %b Terms of Use (For Experts and Potential Experts)
    %p.western
      %font{:size => "1", :style => "font-size: 8pt"}
        (Version 1.0 – Updated as of 2018-11-12)
    %p.western
      %br/
    %p.western
      %br/
    %p.western
      Minds With Purpose Ltd., its successors and assigns (collectively “Minds With Purpose”) operate and make available mindswithpurpose.com (the “Site”).  The Site connects people (business people, professionals, students and anyone else facing a business or professional challenge who would like someone to act as a sounding board, mentor or coach) (“Minds”) with those who have relevant business or professional experience and are prepared to act as “Experts”.
    %p.western
      %br/
    %p.western
      The Site and any services accessible to an Expert or potential Expert via the Site (the “Services”) are made available to potential Experts and Experts subject to these Terms of Use (as they may be changed from time to time) (the “Terms”).
      %font{:color => "#ff0000"}
        %b.red
          READ THESE TERMS OF USE CAREFULLY AND IN THEIR ENTIRETY.
      They apply to your use of the Site and any services made available through the Site.  Clicking the “I AGREE” button that appears at the end of these Terms of Use means that You agree to be bound by them.
    %p.western
      %br/
    %p.western
      For the purposes of the Terms, the word “You” means the individual accessing the Site as an Expert or a potential Expert, and, if applicable, includes any other legal entity on behalf of which an individual is accessing the Site. As an individual, You agree not to access the Site on behalf of any other individual, any company or any entity or group unless You have the authority to bind that individual, company or entity or group to the Terms.
    %p.western{:align => "LEFT"}
      %br/
    %p.western
      You represent and warrant that: (i) You have the capacity to enter into a legal agreement in the province, state, territory or country in which You reside; and (ii) use of the Site by You will not violate any applicable law or regulation in the province, state, territory or country from which You are accessing the Site.
      %br/
      %br/
    %p.western
      %br/
    %ol
      %li.none
        %p.heading
          1. Becoming an Expert
        %ol
          %li
            A potential Expert who wishes to become an Expert should follow the instructions on the Site for doing so including creating a “Profile” and requesting an interview. The granting of an interview is within Minds With Purpose’s sole discretion. If, after an interview, Minds With Purpose, in its sole discretion, believes that You would be a good addition to the Experts offering advice through the Site, Minds With Purpose will: (i) make the public portion of your Profile available to Minds; and (ii) send a welcome notice to the email address that You set out in the contact information included in your Profile. If You are not added to the Experts after your interview, consider reviewing your stated fields of expertise before reapplying.
          %li
            Usernames are required to access certain features of the Site or to participate in certain activities run via the Site. To act as an Expert, a username is required. You may rely on your LinkedIn username and password for authentication purposes. In the future, Minds With Purpose may make similar arrangements with other sites operated by third parties. Minds With Purpose or the operator of any such third-party site may choose to stop allowing this practice at any time.  Should this happen, follow the instructions on the Site to set-up a username and password for use with the Site. Please note: if You set-up your username and password through the Site, Minds With Purpose may require You to change your username and/or password for any reason (including but not limited to non-compliance with Minds With Purpose’s password guidelines).
          %li
            You are responsible for all activities conducted under any username or password that You use with the Site. You will take all necessary steps to ensure that no one other than You uses that username. You will keep your password confidential.  If You have any reason to believe that any password that You use to access the Site has become known to or been used by any other person, You will take immediate steps to change that password.
          %li
            You will ensure that the information contained in your Profile is correct when You enter it and You will ensure that your Profile remains up-to-date.
          %li
            Whether You choose to work with any Mind is under your control. The advice that You provide to any Mind is formulated by You. You acknowledge that You and Minds With Purpose are independent contractors. The Terms will not establish any relationship of partnership, joint venture, employment, franchise or agency between Minds With Purpose and You. Neither You nor Minds With Purpose can incur obligations on the other’s behalf.
      %li.none
        %p.heading
          2. Working WIth Minds
          %ol
            %li
              You are not obliged to work for any Mind.  The decision to work with any Mind is yours, but if You commit to work with any Mind, You agree to honour that commitment.
            %li
              Minds looking for someone to be a sounding board, mentor or coach through the Site choose from a set of service packages. As an Expert, You choose the service packages that You are prepared to provide. A description of the service packages is set out on the Site (
              %span{:style => "background: #ffff00"}> ●
              ).
              From time to time, Minds With Purpose may change the service packages that are supported by the Site by posting updated descriptions to the Site
              %span{:style => "background: #ffff00"}
                [NOTE TO DRAFT: It would be best to link directly to the page with the descriptions.]
            %li
              Any materials, guidance or other information that You provide to a Mind is “Advice”, and You will use reasonable efforts to provide Advice that is in the best interests of the Mind to whom You provide the Advice. You, not Minds With Purpose, are responsible for the Advice that You provide.
            %li
              Please note that the Site asks Minds to rate the Experts with whom they work, and Experts are asked to rate the Minds whom they work.
            %li
              If a dispute arises between You and a Mind, You agree to use reasonable efforts to resolve the dispute. If You or the Mind ask Minds With Purpose to help resolve the dispute or involve Minds With Purpose in your dispute in any other manner, Minds With Purpose will investigate the dispute, and You agree to: (i) cooperate with the investigation; and (ii) abide by any resolution of the dispute proposed by Minds With Purpose.
            %li
              If a period of 24 months passes during which You do not provide Advice to any Mind, You agree that Minds With Purpose may remove your Profile from the Site.
      %li.none
        %p.heading
          3. Payment PROCESSING
          %ol
            %li
              You agree that any payments for service packages from Minds to which You provide Advice will be processed through the Site. When a payment for a service package is received by Minds With Purpose:
              %ul.sub
                %li
                  Minds With Purpose will deduct a percentage of the payment for the use of the Site and Services. The percentage deducted will be determined based on the then current rate chart set out on the Site (www.mindswithpurpose.com/ExpertMindsFees). Minds With Purpose will post revised rate charts to the Site at least 30 days in advance of when they become effective; and
                %li
                  The remainder of the amount paid will be credited to the username that You use (your “Account”).
              Should Minds With Purpose receive a chargeback in respect of any payment received, the amount from that payment credited to your Account, will be reversed, and You will be informed of the non-payment.
            %li
              In each month when the balance in your Account is over $25, You may but are not required to withdraw the full balance and allocate it between yourself and one of the not-for-profit organizations to whom the Site directs donations. You select the percentage that you want to donate, and the remainder is paid to You.  Please ensure that the non-public portion of your Profile includes up-to-date payment information before making any withdrawal. Minds With Purpose will use that information to pay You, and once it has done so, Minds With Purpose has discharged its obligation to pay You.
            %li
              When You donate to a not-for-profit organization through the Site, the donation will be made in your legal name (as set out in your Profile at the time of the donation) and the not-for-profit organization will be given your address, email address and phone number (as set out in your Profile). The not-for-profit organization’s then current policies regarding when it issues tax receipts for donations will apply. Its privacy policy will apply with respect to any of your personal information provided.  You are urged to review these policies before donating, and You agree that Minds With Purpose is not responsible for the acts or omissions of any such not-for-profit organization.
      %li.none
        %p.heading
          4. Term and Termination
          %ol
            %li
              Once You enter into this agreement, it will continue until it is terminated. If You do not have any open service package with a Mind, You may terminate this agreement by removing your Profile from the Site. A service package is open if there are sessions with You that are part of the service package that have not yet been completed
            %li
              Minds With Purpose may terminate this agreement without liability:
              %ul.sub
                %li
                  by giving you at least 30 days’ written notice of the effective date of the termination;
                %li
                  by removing your Profile in accordance with section 2.6; or
                %li
                  immediately upon sending a notice termination to You, if Minds With Purpose has reason to believe that You have breached this agreement.
            %li
              Upon termination of this agreement, You are deemed to have directed Minds With Purpose to pay any amount credited to your Account to You in accordance with section 3.2 except that the $25.00 minimum will not apply.
      %li.none
        %p.heading
          5. Site Use
          %ol
            %li
              When interacting with the Site, You will not nor will You attempt to:
              %ul.sub
                %li
                  gain access to any portions of the Site You are not authorized by Minds With Purpose to access;
                %li
                  impersonate another person (including but not limited to manipulating identifiers) or misrepresent Your affiliation with any person or entity including but not limited to Minds With Purpose;
                %li
                  directly or indirectly interfere with, disrupt or damage the Site, the server(s) on which it is hosted, the networks connected to it or any other user’s access to the Site;
                %li
                  access the Site through any automated means (for example, bots or web crawlers) or using an interface other than the one made available on the Site by Minds With Purpose;
                %li
                  adapt, translate, modify, decompile, disassemble, or reverse engineer any aspect of: (i) the Site; (ii) any software or technology used in connection with the Site; or (iii) any material downloaded from the Site;
                %li
                  violate any applicable local, provincial, state, national or international law or regulation (including any laws relating to the export of data or software);
                %li
                  collect or store personally identifying information about other users for any purposes that are illegal or unlawful or unrelated to the Site or the provision of Advice;
                %li
                  post, transmit or otherwise make accessible and materials that are illegal, unlawful, tortious or defamatory. This includes but is not limited to materials that: (i) promote hate or victimizes, harasses, degrades, or intimidates an individual or group of individuals on the basis of race, ethnicity, gender, religion, sexual orientation, age or disability; (ii) contain software viruses or any other computer code, files or programs designed to or which may interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or any other similarly destructive activity; or (iii) You do not have the right to disclose.
            %li
              Minds With Purpose reserves the right, in its sole discretion, to change or modify the Site from time to time including but not limited adding or removing functionality or features.  Minds With Purpose may change the Site without prior notice to You.
            %li
              From time to time, You may choose to ask, make or provide questions, suggestions, ideas, comments, recommendations, feedback, requests or other information relating to the Site (“Feedback”) to Minds With Purpose. For example, You might respond to a request for comments or a survey, or You might choose to send and email to Minds With Purpose with suggestions on how the Site may be improved. By providing any Feedback to Minds With Purpose, You: (i) agree that the Feedback is not confidential; and (ii) assign all right, title and interest in and to the Feedback to Minds With Purpose including all intellectual property rights.  Minds With Purpose shall be entitled to the unrestricted use and dissemination of any Feedback for any purpose (commercial or otherwise) without any acknowledgment of or compensation to You.
      %li.none
        %p.heading
          6. Site Content
          %ol
            %li
              “Content” includes any and all information, content, links, reports, data, databases, tools, e-mail, code, photographs, pictures, video, postings, graphics, interfaces, web pages, text, files, software, product names, company names, trade-marks, logos, trade names, or other materials contained on or in the Site or in any communication sent to You by Minds With Purpose.  Content contributed to the Site by or on behalf of Minds With Purpose is “MWP Content”, and Content contributed by or on-behalf of a not-for-profit organization is “NFP Content”.  Content contributed to the Site by Experts or Minds is “User Content”, and any information or materials that You provide to a Mind or that a Mind provides to You via the Site is deemed to be User Content.
            %li
              When You make Content available to another user of the Site in the course of providing or receiving Advice, You grant Minds With Purpose the rights in and to that Content that are reasonably necessary to: (i) to facilitate that exchange; and (ii) administer, operate, display and distribute the Site. When You make Content available for display on or through the Site, You acknowledge that the content is User Content and grant Minds With Purpose a royalty-free, unrestricted, world-wide, perpetual, irrevocable, non-exclusive and fully sub-licensable right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such Content (in whole or part) and to incorporate it in other works (in each case irrespective of the form, media, or technology used) for the purpose of:  (i) providing Minds With Purpose Services to You; and (ii) allowing Minds With Purpose to administer, operate, display, distribute and promote the Site.
            %li
              You represent and warrant to and covenant with Minds With Purpose that: (i) You have now and that You will continue to have all necessary rights and authority to grant the licenses set out in the preceding paragraph; and (ii) the User Content that You contribute to the Site will not infringe any proprietary right of any third party.  You also represent and warrant to Minds With Purpose that any moral rights in any User Content that You contribute to the Site have been waived and that Minds With Purpose (including its successor and assigns) may rely on those waivers.
            %li
              Except for the license rights expressly granted in the Terms, no other rights in or to Content are transferred by this agreement. Expert retains all right, title and interest in and to Expert’s User Content. Minds With Purpose, and if applicable, its suppliers, retains all right, title and interest in and to MWP Content, and other users of the Site retain all right, title and interest in and to their Content.
            %li
              You will not use any trademarks, names, logos and/or servicemarks belonging to Minds With Purpose or its suppliers without Minds With Purpose’s prior written approval.
      %li.none
        %p.heading
          7. Privacy
          %ol
            %li
              Minds With Purpose’s use and disclosure of any personal information about You that it collects in association with the Site is subject to Minds With Purpose’s privacy policy, which is available on the Site’s Privacy page (www.mindswithpurpose.com/privacynotice). You have read the privacy policy and consent to the use of Your personal information as described therein.
            %li
              Minds With Purpose reserves the right to communicate with You regarding any circumstances arising from or relating to Your use of the Site.  You consent to this use of the contact information forming part of your Profile.
      %li.none
        %p.heading
          8. Changes to Terms
          %ol
            %li
              From time to time, Minds With Purpose may, in its sole discretion, modify any of the terms and conditions contained in the Terms by posting the revised version of the Terms to the Site.  Minds With Purpose may, but is not obliged to, ask You to actively confirm Your agreement with the revised Terms, Minds With Purpose may, so You should review the Terms posted to the Site regularly. If Minds With Purpose does not do so, but You continue to use the Site after the changes come into effect, You will be deemed to have agreed to abide by the revised Terms. If You do not agree with the revised Terms without qualification, You will: (i) promptly notify Minds With Purpose of the disagreement; and (ii) discontinue using the Site.
      %li.none
        %p.heading
          9. Warranties
          %ol
            %li
              THE SITE AND CONTENT ARE PROVIDED “AS IS” AND “AS AVAILABLE” WITHOUT WARRANTY OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.  WITHOUT LIMITING THE PRECEDING SENTENCE, MINDS WITH PURPOSE SPECIFICALLY DISCLAIMS ALL REPRESENTATIONS, WARRANTIES, COVENANTS AND CONDITIONS WITH RESPECT TO THE SITE (INCLUDING ANY CONTENT) OR OTHERWISE ARISING FROM THE TERMS INCLUDING ANY CONCERNING: (i) AVAILABILITY, ACCURACY, APPROPRIATENESS, RELIABILITY, TIMELINESS, USEFULNESS, OR OTHERWISE OF THE SITE OR CONTENT; OR (ii) TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
            %li
              Without limiting section 9.1, Minds With Purpose does not warrant that the Site or any Content: (i) will be available at all times; (ii) will operate without errors; (iii) defects or errors in the Content will be corrected; (iv) will be accessible regardless of the hardware or software that You wish to employ to access it; (v) is absolutely secure, notwithstanding Minds With Purpose’s use of commercially reasonable efforts to secure it; or (vi) is free from viruses or other harmful code.

      %li.none
        %p.heading
          10. LIMITATION OF LIABILITY
          %ol
            %li
              In no event will Minds With Purpose (including its employees, officers, directors or other representatives) be liable for any special, incidental, consequential, exemplary or indirect damages arising from or relating to the Site, Content or the Terms, including loss of revenues, loss of profits or business interruption even if Minds With Purpose has been advised of the possibility of such damages by You or any other person.
            %li
              THE LIMIT ON THE TOTAL CUMULATIVE LIABILITY OF Minds With Purpose (INCLUDING ITS EMPLOYEES, OFFICERS, DIRECTORS OR OTHER REPRESENTATIVES AND SUPPLIERS) TO YOU OR ANY PERSON, FOR ANY CLAIMS ARISING FROM OR RELATING TO THE SITE, CONTENT OR THE TERMS, WILL NOT EXCEED THE AMOUNT OF FEES IN YOUR ACCOUNT IF THE CLAIM IS IN RELATION TO PAYMENT OF FEES EARNED AND $100.00 IN ALL OTHER CASES.
            %li
              Without limiting section 10.1 or section 10.2, in no event will Minds With Purpose (including its employees, officers, directors or other representatives) be liable for any claims arising from or relating to goods or services provided by third parties that are accessible via the Site or sites to which the Site links. Further, Minds With Purpose expressly disclaims any and all liability for the acts or omissions of any third-party user of the Site (including other Experts and Minds).
            %li
              The limitations set out in this section will apply regardless of the causes or circumstances giving rise to the claim, even if such claim is based on breach of contract, negligence or other tort, and will survive a fundamental breach or failure of essential purpose of any limited remedy or the Terms.
            %li
              You acknowledge and agree that, regardless of any statute or law to the contrary, any claim or cause of action You may have arising from or relating to the Site (including any Content) or the Terms must be filed within one year after such claim or cause of action arises or be permanently barred.
            %li
              All exclusions of responsibility or liability set out in the Terms are made to the fullest extent permitted by law.  Some jurisdictions do not allow the exclusion of certain implied warranties or limitations on how long an implied warranty may last.  If any jurisdiction having applicability to the Terms does not permit any such exclusion or limitation, Minds With Purpose’s total liability to You in connection with any breach of such a warranty will be subject to the limits on liability set out in section 10.2.
      %li.none
        %p.heading
          11. Indemnity
          %ol
            %li
              You agree that You are solely responsible for any Advice that You provide to a Mind, and You will indemnify and hold Minds With Purpose (including its employees, officers, directors or other representatives) harmless from any and all claims and expenses, including attorney's fees arising from or relating to your Advice.
            %li
              You agree to indemnify Minds With Purpose (including its employees, officers, directors or other representatives) and hold them harmless from any and all claims and expenses, including attorney's fees, arising from or relating to: (i) any Advice that You provide; (ii) your User Content; (iii) your misuse of the Site or any Content; (iv) any breach by You of any of the Terms; and (v) any breach by You of any law or regulation or the rights of any third party.
      %li.none
        %p.heading
          12. General Provisions
          %ol
            %li
              This agreement is made under and will be governed by and construed in accordance with the laws in effect in the Province of Ontario, and the parties agree to attorn to the jurisdiction of the courts of the Province of Ontario.
            %li
              You may not assign your rights or delegate your duties under the Terms, either in whole or in part, without the prior written consent of Minds With Purpose.  Subject to this limitation, the Terms will bind and inure to the benefit of each party's successors and permitted assigns.
            %li
              Any notice or other significant communication given to You pursuant to the Terms shall be sent to You either by email or courier. Notices will be sent to the mailing address or the email address set out in your most recent version of your Profile. Any notice or other significant communication given to Minds With Purpose pursuant to this agreement shall be in writing and sent to Minds With Purpose at the e-mail address or address listed in the “Contact Us” section of the Site when the notice is sent. Such notices shall be deemed to have been received one business day following email transmission or deposit with the courier, all delivery charges pre-paid, and addressed.
            %li
              The Terms, including referenced documents, constitutes the complete agreement between Minds With Purpose and You with respect to the use of the Site and Services by You. It replaces all prior or contemporaneous discussions, negotiations and agreements regarding the Site or Services.
            %li
              The Terms have been drawn up in English at the request of the parties.  Les parties ont convenu que la présente entente soit rédigée en anglais.
    %p.western
      %b.red
        Clicking
        the “I AGREE” button means that You agree to be bound by the
        Terms.  If You have not read the Terms or You do not agree with it as
        written and without any conditions, do not click the “I AGREE”
        button.
    %p.western
      %button
        I AGREE
      %br/
    %p.western{:align => "LEFT"}
      %br/
    %p.western
      %br/
