%br
%br
%br
.row
  .col-sm-8.col-sm-offset-2
    .table-responsive
      %table.table
        %thead
          %tr
            %th
              %h3= t('notification')
        %tfoot
          = link_to "Return Profile", expert_dashboard_path, class: 'btn btn-primary'
        %tbody
          - @notifications.each do |notification|
            %tr
              %td
                %strong= notification.message